
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  border: 0;
  color: #ffffff;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: #928a85;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  display: flex;
  justify-content: center;
}

.main-nav {
  width: 1200px;
  margin: 0px auto;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin:0;
  padding:0;
  list-style: none;
  padding-right: 73px;
  padding-left: 73px;
}

.nav-item {

}

.nav-list a {
  display: flex;
  align-items:center;
  min-height:56px;
  color: #000000;

}

.nav-list a:hover,
.nav-list a:focus {
  color: #81b3d2;
}

.nav-list a:active {
  color: #cacaca;
}

.link-has-logo {
  position: relative;
  width: 140px;
}

.logo {
  position: absolute;
  top: 0;
  left:50%;
  margin-left: -70px;
}


.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-sedona {
  margin-top: 0px;
  display: block;
}

.polygon-sedona {
display: block;
margin-top: -58px;
}

.sedona-slogan,
.button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.button {
  text-transform: uppercase;
}

.reasons {
  text-align: center;
}

.interest {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.offer {
  text-align: center;
  line-height: 24px;
}

.init-form-booking {
  position: relative;
  z-index: 100;
  margin-left: 356px;
  weight: 568px;
  height: 86px;
}

.form-booking-wrapper {
  position: relative;
  z-index: 90;
}

.form-booking {
  position:absolute;
  z-index: -1;
  top: 0px;
  left: 0;
  width: 100%;
  transition: all 1.3s linear;
  transform: translateY(-100%);
  visibility: visible;
  width: 568px;
  height: 395px;
  margin-left: 356px;
  background-color: white;
}

.button-init-form-booking {
  margin-left: 355px;
  padding: 35px 140px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.button-init-form-booking:active + .form-booking-wrapper .form-booking  {
  visibility: visible;
  transform: translateY(0);
}

.form-booking-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: spase-around;
  align-items: stretch;
  margin: 40px 55px;
}

.form-booking-item input {
  background-color: #f2f2f2;
  height: 38px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.form-booking-item-date {
  min-width: 346px;
  margin-left: 18px;
  margin-bottom: 0;
  padding-right: 40px;
  padding-left: 13px;
  background-image: url('../img/calendar.svg');
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.form-booking-item-date:hover {
  background-image: url('../img/calendar-black.svg');
}

.form-booking-item-date:active,
.form-booking-item-date:focus {
  background-image: url('../img/calendar-blue.svg');
}

.form-booking-item-dateout {
  margin-left: 14px;

}

.piple-count {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 55px;
}

.piple-count div {
  flex-shrink: 1;
}

.form-booking-item-count {
  width: 38px;
  text-align: center;

}

.form-booking-item-name {
  font-weight:bold;
}

.form-booking-button {
  border: 0;
  width: 38px;
  height: 38px;
  margin: 0;
  color: #a9a9a9;
  background-color: #f2f2f2;
  background-image: url('../img/--.png');
  background-repeat: no-repeat;
  background-position: center;
}

.form-booking-button-minus:hover {
background-color: #f2f2f2;
background-image: url('../img/--black.png');
background-repeat: no-repeat;
background-position: center;
color: #000000;
}

.form-booking-button-minus:active,
.form-booking-button-minus:focus {
background-color: #f2f2f2;
background-image: url('../img/--blue.png');
background-repeat: no-repeat;
background-position: center;
color: #81b3d2;
}

.form-booking-button-plus {
  background-image: url('../img/++.png');
  background-repeat: no-repeat;
  background-position: center;
}

.form-booking-button-plus:hover {
background-color: #f2f2f2;
background-image: url('../img/++black.png');
background-repeat: no-repeat;
background-position: center;
color: #000000;
}

.form-booking-button-plus:active,
.form-booking-button-plus:focus {
background-color: #f2f2f2;
background-image: url('../img/++blue.png');
background-repeat: no-repeat;
background-position: center;
color: #81b3d2;
}


/*
.form-booking-button::before {
  content: "";
  position:absolute;
  top: 18px;
  left: 13px;
  background-color: #a9a9a9;
  width: 13px;
  height: 3px;
}
--blue.png


.form-booking-button::before:active,
 .form-booking-button::before:focus {
  background-color: #000000;
}




.form-booking-button-plus::after {
  content: "";
  position:absolute;
  top: 13px;
  left: 18px;
  background-color: #a9a9a9;
  width: 3px;
  height: 13px;
}

.form-booking-button-minus1::before {
position: absolute;
top: 0;
left: 0;
width: 20px;
height: 20px;
color: blue;
}
*/
.button-booking-find {
  max-width: 458px;
  height: 58px;

}

/* sedona-footer*/

footer {
  margin-top: 35px;
}

.footer-box {
  display: flex;
  align-items: center;
}

.hashtag {
  width: 140px;
  margin-left: 130px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social-block {
  padding: 0;
  height: 50px;
  min-width: 152px;
  margin-left: 255px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-btn {
  display: block;
}

.social-btn a {
  display: flex;
  height: 48px;
  width: 47px;
  justify-content: center;
  align-items: center;
}

.social-btn:active > a img {
  opacity: 0.35;
}

.site-creator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: auto;
}

.Websiteby {
  margin-right: 6px;
}
.site-creator-logo {
  width: 115px;
  height: 41px;
}

.site-creator-logo-link:hover path {
  fill: #81b3d2;
}

.site-creator-logo-link:active path {
  fill: #bdbbbc;
}

/* sedona-hotels*/

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorting {
  display: flex;
  flex-direction: row;

}

.sort-start-end {
  display: flex;
  flex-direction: row;
}

.catalog-item {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-item-image {
  order:-1;
  margin-left: 70px;
}

.catalog-item-image img {
  display: block;
}

.catalog-item-flexitem1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.catalog-item-flexitem1 > a {
  color: #000000;
}

.catalog-item-flexitem1 > a:hover,
.catalog-item-flexitem1 > a:focus {
  color: #669ec0;
}

.catalog-item-flexitem1 > a:active {
  color: #cacaca;
}

.catalog-item-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.catalog-item-price {
display: flex;

  margin-top: 0px;
  margin-bottom: 0px;
}

.catalog-item-price-bilding {
   min-width: 110px;
   margin-right: 7px;
}

.catalog-item-flexitem2 {
  margin-left: auto;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item-actions {
  padding-left: 0;
}

.catalog-item-action {
  display: inline-block;
  list-style: none;
}

.catalog-item-action a {
  display:block;
  color: #ffffff;
  font-weight: 700;
}

.link-detail {
  margin-right: 3px;
  padding: 8px 17px;
}

.link-tobook {
  padding: 8px 17px;
}

.rating {
  background-color: #f2f2f2;
  padding-left: 16px;
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 9px;
}
