
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-index {
  background-color: #ffffff;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
 }

.container:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 100%;
  top: 0;
  left: -14px;
  background: rgb(242, 242, 242);
  background: -webkit-gradient(linear, right top, left top, color-stop(1%, rgb(219, 219, 219)), color-stop(26%, rgb(242, 242, 242)));
  background: -webkit-linear-gradient(right, rgb(219, 219, 219) 1%, rgb(242, 242, 242) 65%);
  background: -o-linear-gradient(right, rgb(219, 219, 219) 1%, rgb(242, 242, 242) 65%);
  background: linear-gradient(270deg, rgb(219, 219, 219) 1%, rgb(242, 242, 242) 65%);
 }

.container:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 100%;
  top: 0;
  right: -14px;
  background: rgb(242, 242, 242);
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgb(219, 219, 219)), color-stop(26%, rgb(242, 242, 242)));
  background: -webkit-linear-gradient(left, rgb(219, 219, 219) 1%, rgb(242, 242, 242) 65%);
  background: -o-linear-gradient(left, rgb(219, 219, 219) 1%, rgb(242, 242, 242) 65%);
  background: linear-gradient(90deg, rgb(219, 219, 219) 1%, rgb(242, 242, 242) 65%);
}

.button {
  font: inherit;
  border: 0;
  color: #ffffff;
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: #928a85;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header-index {
  position: absolute;
  z-index: 105;
}

.main-nav {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height:56px;
  margin:0;
  padding:0;
  list-style: none;
  padding-right: 73px;
  padding-left: 73px;
  padding-top: 14px;
}

.nav-item:first-child,
.nav-item:nth-child(2) {
  text-align: left;
}

.nav-item:nth-child(3),
.nav-item:last-child {
  text-align: right;
}

.nav-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  color: #000000;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #81b3d2;
}

.nav-list a:active {
  color: #cacaca;
}

.nav-item-hotel a {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left:50%;
  margin-left: -70px;
}

.welcome-sedona {
  margin-top: 0px;
  display: block;
}

.polygon-sedona {
  display: block;
  margin-top: -58px;
  margin-bottom: 58px;
}

.sedona-slogan,
.button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.sedona-slogan {
  display: block;
  margin-bottom: 30px;
  padding: 0 380px;
  background-color: #ffffff;
}

.button {
  text-transform: uppercase;
}

.reasons {
  text-align: center;
  margin-bottom: 53px;
}

.advantages {
  margin-bottom: 50px;
}

.list-of-advantages {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.list-of-advantages > li:first-child,
.list-of-advantages > li:nth-child(2) {
  width: 1200px;
  min-height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}

.list-of-advantages > li:first-child {
  background-image: url('../img/town.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

.list-of-advantages > li:nth-child(2) {
  background-image: url('../img/devils-bridge.jpg');
  background-repeat: no-repeat;
  background-position: left;
}

.item-of-advantages {
  min-width: 400px;
  margin: 0px auto;
  padding-left: 59px;
  padding-right: 60px;
  text-align: center;
}

.item-of-advantages-real-town {
  margin-left: 0;
  margin-right: 0;
  padding-right: 860px;
}

.item-of-advantages-devils-bridge {
  margin-left: auto;
  margin-right: 0;
  padding-left: 849px;
  padding-right: 48px;
}

.item-of-advantages p,
.item-of-advantages h3 {
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.item-of-advantages h3 {
  margin-top: 46px;
  margin-bottom: 25px;
}

.item-of-advantages-real-town h3 {
  padding-left: 79px;
  padding-right: 79px;
}

.item-of-advantages-devils-bridge h3 {
  padding-left: 75px;
  padding-right: 75px;
}

.item-of-advantages-area h3 {
  padding-left: 50px;
  padding-right: 50px;
}

.item-of-advantages-road h3 {
  padding-left: 80px;
  padding-right: 80px;
}

.item-of-advantages-tourist h3 {
  padding-left: 75px;
  padding-right: 75px;
}

.item-of-advantages p {
  margin-bottom: 20px;
}

.item-of-advantages p:last-child {
  margin-bottom: auto;
}

.item-of-advantages-necessary-things {
  height: 330px;
  margin: 0 auto;
}

.item-of-advantages-necessary-things-souvenirs {
  padding-left: 60px;
  padding-right: 63px;
}

.item-of-advantages-necessary-things-residence {
  padding-left: 70px;
  padding-right: 70px;
}

.item-of-advantages-necessary-things-food {
  padding-left: 55px;
  padding-right: 55px;
}

.item-of-advantages-necessary-things p,
.item-of-advantages-necessary-things h3 {
  display: block;
  margin: 0;
}

.item-of-advantages-necessary-things svg {
  margin-top: 60px;
  margin-bottom: 23px;
}

.item-of-advantages-necessary-things h3 {
  margin-bottom: 24px;
}

.item-of-advantages-necessary-things p {
  margin-bottom: auto;
}

.item-of-advantages-necessary-things-souvenirs svg {
  margin-top: 56px;
  margin-bottom: 23px;
}

.item-of-advantages-area {
  padding-right: 90px;
  padding-left: 90px;
}

.item-of-advantages-road {
  padding-right: 68px;
  padding-left: 68px;
}

.item-of-advantages-tourist{
  padding-right: 75px;
  padding-left: 75px;
}

.item-of-advantages-black h3,
.item-of-advantages-necessary-things h3 {
  color: #000000;
}

.item-of-advantages-black p,
.item-of-advantages-necessary-things p {
  color: #333333;
}

.item-of-advantages h3 {
  font-size: 21px;
}

.list-of-advantages > li:nth-child(n+3):nth-child(-n+5) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
  background-color: #eeeeee;
  height: 255px;
  width: calc(100% / 3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-of-advantages > li:first-child {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.list-of-advantages > li:last-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.necessary-things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.necessary-things li {
  min-width: 33.333%;
  box-sizing: border-box;
  list-style: none;
}

.interest {display: block;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}

.offer {
  display: block;
  text-align: center;
  line-height: 24px;
  margin-bottom: 47px;
  padding-left: 382px;
  padding-right: 383px;
}

.form-booking-wrapper {
  position: relative;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-booking {
  position:absolute;
  z-index: 2;
  top: 0px;
  left: 50%;
  margin-left: -284px;
  width: 100%;
  visibility: visible;
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 12px 0 rgba(15,15,15,0.15);
          box-shadow: 0 7px 12px 0 rgba(15,15,15,0.15);
}

.button-init-form-booking {
  padding: 31px 140px;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.button-init-form-booking:active + .form-booking-wrapper .form-booking  {
  visibility: hidden;
}

.form-booking-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 40px 55px;
  margin-top: 42px;
}

.form-booking-item input {
  position: relative;
  background-color: #f2f2f2;
  height: 38px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}


/*  .form-booking-item-date  margin-left: 16px; а не 18
чтобы не расползалось в IE11 */

.form-booking-item-date {
  min-width: 311px;
  margin-left: 16px;
  margin-bottom: 0;
  padding-right: 40px;
  padding-left: 12px;
  text-transform: uppercase;
}

.form-booking-item-date:hover {
  background-color: #ebebeb;
 }

.form-booking-item-date:focus,
.form-booking-item-date:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline-color: #e5e5e5;
}

.form-booking-item-datein .form-booking-item-date {
  min-width: 312px;
}

.calendar {
  position: absolute;
  content: ' ';
  top: 0px;
  left: 420px;
  width: 36px;
  height: 38px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url('../img/calendar.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
}

.form-booking-item-dateout {
  margin-bottom: 30px;
}

.form-booking-item-dateout,
.form-booking-item-datein {
  position: relative;
}

.calendar:hover {
  background-image: url('../img/calendar-black.svg');
}

.calendar:active,
.calendar:focus {
  background-image: url('../img/calendar-blue.svg');
}

.form-booking-item-dateout .form-booking-item-date {
  margin-left: 14px;
}

.piple-count {
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 55px;
}

.piple-count div {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.form-booking-item-adult-count label {
  margin-right: 34px;
}

.form-booking-item-children-count label {
  margin-right: 22px;
}

.form-booking-item-count {
  width: 38px;
  text-align: center;
}

.form-booking-item-name {
  font-weight:bold;
}

.form-booking-item-name-date {
  position: relative;
}

.form-booking-button {
  border: 0;
  width: 38px;
  height: 38px;
  margin: 0;
  color: #a9a9a9;
  background-color: #f2f2f2;
  background-image: url('../img/--.png');
  background-repeat: no-repeat;
  background-position: center;
}

.form-booking-button-minus:hover {
  background-color: #f2f2f2;
  background-image: url('../img/--black.png');
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}

.form-booking-button-minus:active,
.form-booking-button-minus:focus {
  background-color: #f2f2f2;
  background-image: url('../img/--blue.png');
  background-repeat: no-repeat;
  background-position: center;
  color: #81b3d2;
}

.form-booking-button-plus {
  background-image: url('../img/++.png');
  background-repeat: no-repeat;
  background-position: center;
}

.form-booking-button-plus:hover {
  background-color: #f2f2f2;
  background-image: url('../img/++black.png');
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
}

.form-booking-button-plus:active,
.form-booking-button-plus:focus {
  background-color: #f2f2f2;
  background-image: url('../img/++blue.png');
  background-repeat: no-repeat;
  background-position: center;
  color: #81b3d2;
}

.button-booking-find {
  max-width: 458px;
  height: 58px;
}

.form-is-hide {
  display: none;
}

.map {
  position: relative;
}

.map img{display: block;
  margin-bottom: 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* sedona-footer*/

footer {position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -120px;
  margin-bottom: 0;
  background-image: url('../img/footer-back.png');
}

.catalog-footer {
  margin-top: 0px;
  background-color: #ffffff;
}

.footer-box {
  width: 1200px;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hashtag {
  width: 140px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social-block {
  padding: 0;
  height: 50px;
  min-width: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.social-btn {
  display: block;
}

.social-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  width: 47px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-btn:active > a img {
  opacity: 0.35;
}

/* LOGO htmlacademy*/

.site-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Websiteby {
  margin-right: 6px;
}

.site-creator-logo {
  width: 115px;
  height: 41px;
}

.site-creator-logo-grey,
.site-creator-logo-blue {
  display: none;
}

.site-creator-logo-link:hover .site-creator-logo-blue {
  display: block;
}

.site-creator-logo-link:hover .site-creator-logo-black,
.site-creator-logo-link:hover .site-creator-logo-grey {
  display: none;
}

.site-creator-logo-link:active .site-creator-logo-grey,
.site-creator-logo-link:focus .site-creator-logo-grey {
  display: block;
}

.site-creator-logo-link:active .site-creator-logo-black,
.site-creator-logo-link:focus .site-creator-logo-black,
.site-creator-logo-link:active .site-creator-logo-blue,
.site-creator-logo-link:focus .site-creator-logo-blue {
  display: none;
}

.form-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:baseline;
      -ms-flex-align:baseline;
          align-items:baseline;
  width: 1200px;
  min-height: 217px;
  padding: 27px 67px 0px;
  color: #ffffff;
  margin-bottom: 0px;
  background-color: #4477a2;
  background-image: url('../img/background-catalog.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.form-sorting div {
  margin-left: auto;
}

.form-sorting legend {
  font-size: 16px;
  font-weight: bold;
}

.form-sorting fieldset {
  padding-left: 0;
  padding-right: 0;
  border-color:  rgba(0, 0, 0, 0.0);
}

.form-sorting-box {
  min-width: 236px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin:20px 0px 15px;
}

.infrastructure-name {
  position: relative;
  padding-left: 0px;
  cursor: pointer;
  font-size: 14px;
}

.checkbox-indicator {
  position: absolute;
  top: -3px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-off.png');
  background-repeat: no-repeat;
}

.infrastructure-checkbox:checked + .checkbox-indicator {
  background-image: url('../img/checkbox-on.png');
}

.checkbox-indicator-disabled {
  background-image: url('../img/checkbox-off-disabled.png');
}

.checkbox-indicator-disabled-checked {
  background-image: url('../img/checkbox-on-disabled.png');
}

.form-sorting-box > li {
  display: block;
  padding-bottom: 25px;
  padding-left: 0;
}

.form-sorting-box > li:last-child {
  padding-bottom: 0px;
}

.form-sorting-box input {
  display: inline-block;
  vertical-align: baseline;
}

.form-sorting button {
  width: 133px;
  height: 38px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.0);
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3px;
  margin-left: 96px;
}

.form-sorting button:hover,
.form-sorting button:active {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

.form-sorting fieldset:nth-of-type(2) {
  margin-left: 13px;
}

/* form price-control*/

.price-control legend {
  margin-bottom: 10px;
}

.price-control-box {
  position: relative;
  min-width: 313px;
  height: 36px;
  margin-bottom: 15px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.price-control-box::after {
  content: ' ';
  position: absolute;
  top: 5px;
  left: 160px;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

.price-control input {
  padding-top: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  color: #ffffff;
}

.min-price input {
  width: 71px;
}

.max-price input {
  width: 79px;
}

.min-price {
 margin-left: 65px;
}

.max-price  {
 margin-left: 52px;
}

.price-control  {
  margin:0;
  padding: 0;
  margin-left: 0px;
  margin-bottom: 40px;
}

.range {
  position: relative;
  height: 2px;
  width: 317px;
  background-color: rgba(255, 255, 255, .3);
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
}

.range-circle {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow:1px 2px 1px 0px rgba(255, 255, 255,0.5);
  -webkit-box-shadow:1px 2px 1px 0px rgba(255, 255, 255,0.5);
  -moz-box-shadow:1px 2px 1px 0px rgba(255, 255, 255,0.5);
}

.range-circle:hover,
.range-circle:active {
  cursor: pointer;
}

.range-min {
  left: letf;
}

.range-max {
  right: 15%;
}

.range-value {
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
}


/*  sort */

.result {
  background-color: #ffffff;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting {height: 86px;
  width: 518px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting div {
  font-size: 12px;
  line-height: 18px;
}

.sorting div:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sort-start-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sorting-list {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sorting-item {
  display: inline;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item:nth-child(n+2) > a {
  color: #e0e0e0;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item-price a {
  color: #81b3d2;
}

.sorting-item:nth-child(n+2) > a:hover,
.sorting-item:nth-child(n+2) > a:hover {
  color: #81b3d2;
}

.sorting-item:nth-child(n+2) > a:active,
.sorting-item:nth-child(n+2) > a:active {
  color: #000000;
  border-bottom: none;
}

.sort-start-end {
  width: 34px;
  height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-start-end div:first-child {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 11px solid #cacaca;
}

.sort-start-end div:last-child {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 11px solid #81b3d2;
}

.sort-start-end div:first-child:hover {
  border-bottom: 11px solid #231f20;
  cursor: pointer;
}

.sort-start-end div:last-child:hover {
	border-top: 11px solid #231f20;
  cursor: pointer;
}

.sort-start-end div:first-child:focus,
.sort-start-end div:first-child:active {
	border-bottom: 11px solid #81b3d2;
  cursor: pointer;
}

.sort-start-end div:last-child:focus,
.sort-start-end div:last-child:active {
	border-top: 11px solid #81b3d2;
  cursor: pointer;
}

/* catalog */

.catalog-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
  -webkit-box-ordinal-group:0;
      -ms-flex-order:-1;
          order:-1;
  margin-left: 73px;
}

.catalog-item-image img {
  display: block;
}

.catalog-item-characteristic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.catalog-item-characteristic > a {
  color: #000000;
}

.catalog-item-characteristic > a:hover,
.catalog-item-characteristic > a:focus {
  color: #669ec0;
}

.catalog-item-characteristic > a:active {
  color: #cacaca;
}

.catalog-item-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.catalog-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.catalog-item-price-bilding {
   min-width: 110px;
   margin-right: 7px;
}

.catalog-item-actions {
  padding-left: 0;
}

.catalog-item-action {
  display: inline-block;
  vertical-align: baseline;
  list-style: none;
}

.catalog-item-action a {
  display:block;
  color: #ffffff;
  font-weight: 700;
}

.link-detail {
  margin-right: 2px;
  padding: 3px 17px 3px;
}

.link-tobook {
  padding: 3px 17px 3px;
}

.catalog-item-point {
  margin-left: auto;
  margin-right: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stars {
  text-align: right;
}

.rating {
  background-color: #f2f2f2;
  padding-left: 16px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}
